@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Jost', sans-serif;
letter-spacing: 1px;
text-transform: capitalize;
color: aliceblue;
scroll-behavior: smooth;
}

body{
    background: #170038;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20000;
}

header .logo{
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 1.8em;
}

header ul{
    display: flex;
    justify-content: center;
    align-items:center ;
}

header ul li{
    margin-left: 30px;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
    border-radius: 20px;
    padding: 6px 10px;
    font-weight: 500;
    transition: .3s ease-out;
}
header ul li a:hover{
    background: #fff;
    color: #170038;
}


.icons {
    position:  absolute;
    right:  5%;
    font-size:  2.7rem;
    cursor:  pointer;
    display:  none;
  }
  
  #check{
    display:  none;
  }



@media (max-width:780px){ 
    header{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column nowrap;
    }

    .icons{
        display: inline-flex ;
        font-size:  1.9rem;
      }
      
      #check:checked ~ .icons .fa-bars {
        display: none;
      }
      
      .icons #close {
        display:none;
      }
      
      #check:checked ~ .icons .fa-xmark {
        display: block;
      }

ul{
position:  absolute;
top:  100%; 
left: 0;
width:  100%; 
height: 0;
transition:  .4s ease-out;
overflow:  hidden;
display: flex;
        flex-flow: column nowrap;
    justify-content: center;
}

.checkbox:checked ~ ul {
  width: 100%;
        height: auto;
        display: flex;
        flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 1.6rem;
    background-color: #fff5;
} 
}


section.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    over-flow: hidden;
}

section.hero .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section.hero::before{
    content: "";
    position: absolute;
    bottom: -115px;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #170038 , transparent);
    z-index: 100;
}

section.hero h2{
    position: absolute;
    font-size: 6vw;
    color: #fff;
    z-index: 10;
    right: -200px;
}

section.hero .btn{
    padding: 8px 26px;
    border-radius: 28px;
    border: 4px solid #fff3;
    background: #fff7;
    color: #170038;
    font-weight: 700;
    font-size: 2vw;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    z-index: 10;
    transform: translateY(130px);
}

.about{
    position: relative;
    padding: 250px 4vw;
    z-index: 3000;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about h2{
    font-size: 1.9em;
    font-weight: 600;
}

.about p{
    padding: 28px 0;
    font-size: .9em;
    max-width: 600px;
    line-height: 1.7;
}


.about img{
    max-width: 400px;
    transition: .5s ease-in-out;
}

.about img:hover{
    filter: drop-shadow(0 0 10px #fff8);
}


.about a{
    text-decoration: none;
    padding: 8px 14px;
    background: #fff5;
    border-radius: 20px;
    transition: .4s ease-in-out;
}

.about a:hover{
    background: #fff;
    color: #170038;
    font-weight: 600;
    box-shadow: 0 0 10px 2px #fff2;
}

















.work{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}




:root{
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

.card{
    height: var(--card-height);
    width: var(--card-width);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
}

.bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper{
    transition: all .5s;
    position: absolute;
    z-index: -1;
}

.wrapper::before,
.wrapper::after{
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all .5s;
    position: absolute;
    left: 0;
}

.wrapper::before{
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top , transparent 46% , rgba(12,13,19,.5) 68% ,rgb(12,13,19) 97%);
}

.wrapper::after{
    bottom: 0;
    opacity: 1;
    background-color: #0008;
    height: 50px;
}

.title{
    width: 100%;
    transition: transform 0.5s;
    margin-bottom: 10px;
}

.gojo{
    width: 110%;
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: all .7s;
    margin-bottom: 50px;
    filter: drop-shadow(0 0 10px rgba(175, 239, 255, 0.75));
}

.card:hover  .wrapper{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 0px 35px 32px -8px rgba(0, 0, 0,.75);
}

.card:hover .title{
    transform: translate3d(0%, -50% , 100px);
}

.card:hover .wrapper::after ,
.wrapper::before{
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 70px;
}

.card:hover .wrapper::before{
    opacity: 1;
}

.card:hover .gojo{
    opacity: 1;
    transform: translate3d(0% , -30% , 100%);
}
